@{
  ViewBag.Title = "Query";
}
@section styles{
  <link href="~/Content/jQuery-QueryBuilder/dist/css/query-builder.dark.min.css" rel="stylesheet" />
  <style type="text/css">
    .rule-operator-container > span{
      color: whitesmoke;
    }
    #timeline{
      width: 100%;
      height: 50px;
      border: 1px solid gray;
      border-radius: 3px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  </style>
}
@section scripts{
  <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
  <script src="~/Content/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
  <script type="text/javascript">
    var durations = [];
    var dataItems = [];
    var adapters = [];
    var query = "";
    var baseTitle = document.title;
    $(document).ready(function () {
      $.ajax({
        url: "/api/AdapterConfigs",
        method: "GET",
        success: function (data) {
          adapters = data;

          var sel = $("#selAdapterConfig")[0];
          sel.innerHTML = "";
          sel.appendChild(document.createElement("option")).innerText = "Select a Configuration";
          for (var len = adapters.length, n = 0; n < len; n++) {
            var opt = document.createElement("option");
            opt.innerText = adapters[n].Name;
            opt.value = adapters[n].Id;
            sel.appendChild(opt);
          }

        }
      });
      $("#selAdapterConfig").change(function () {
        var selection = $("#selAdapterConfig").val();
        GetDataItems(selection);
      });
    });

    function GetDataItems(adapterConfigId) {
      $.ajax({
        url: "/api/AdapterConfigs/" + adapterConfigId + "/DataItems",
        method: "GET",
        success: function (data) {
          dataItems = data;

          SetupQueryBuilder();
        }
      });
    }
    function CompleteDataset(src) {
      if (typeof src != "undefined" && src != null && src.length > 0) {
        for (var len = src.length, n = 0; n < len; n++) {
          let start = moment(src[n].Started);
          let end = moment(src[n].Ended);
          let diff = end.diff(start);
          src[n]["Duration"] = moment.utc(diff);
        }
        return src;
      }
      return [];
    }
    function QueryDuration(dataItemName) {
      query = $("#selDataItems option[value='" + dataItemName + "']").text();
      $.ajax({
        url: "/api/durations/today/" + encodeURIComponent(dataItemName),
        method: "GET",
        success: function (data) {
          document.title = query + " - " + baseTitle;
          durations = CompleteDataset(data);
          UpdateTable(durations);
        }
      });
    }
    function FilterDuration(expr) {
      var reg = new RegExp(expr, 'g');
      var nw = durations.filter(function (e, i) {
        return reg.test(e.Value);// eval(expr);
      });
      UpdateTable(nw);
    }
    function SetTableNote(message, cssClass) {
      $("#tblDurations tbody").html("");
      $("#tblDurations tfoot").html("");
      var td = $("#tblDurations tbody")[0].appendChild(document.createElement("tr")).appendChild(document.createElement("td"));
      td.setAttribute("class", cssClass);
      td.setAttribute("colspan", "3");
      td.textContent = message;
    }
    function UpdateTable(dataset) {
      drawTimeline();
      var tbody = $("#tblDurations tbody")[0];
      tbody.innerHTML = "";
      if (typeof dataset != "undefined" && dataset != null && dataset.length > 0) {
        var timesum = 0;
        var cnt = 0;
        for (var len = dataset.length, n = 0; n < len; n++) {
          var tr = tbody.appendChild(document.createElement("tr"));
          tr.setAttribute("data-id", dataset[n].Id.toString());
          tr.appendChild(document.createElement("td")).textContent = (new Date(dataset[n].Started + "Z")).toLocaleString();
          tr.appendChild(document.createElement("td")).textContent = dataset[n].Value;
          tr.appendChild(document.createElement("td")).textContent = displayTime(dataset[n]);

          if (dataset[n].Ended != null) {
            timesum += moment.duration(moment(dataset[n].Ended).diff(moment(dataset[n].Started))).asMilliseconds();
            cnt++;
          }
        }
        var tf = $("#tblDurations tfoot")[0];
        tf.innerHTML = "";
        var tfr = tf.appendChild(document.createElement("tr"));
        tfr.appendChild(document.createElement("td")).innerText = "";
        tfr.appendChild(document.createElement("td")).innerText = "Total Time";
        console.log("Total Duration: ", timesum);
        tfr.appendChild(document.createElement("td")).innerText = moment.duration(timesum).humanize();
        tfr = tf.appendChild(document.createElement("tr"));
        tfr.appendChild(document.createElement("td")).innerText = "";
        tfr.appendChild(document.createElement("td")).innerText = "Total Completed Records";
        tfr.appendChild(document.createElement("td")).innerText = cnt.toString();
      } else {
        SetTableNote("No Durations found for " + query, "warning");
      }
    }


    // https://stackoverflow.com/questions/14350148/convert-ticks-to-time-format-hhmmss
    function displayTime(data) {
      if (data.Ended == null) {
        return "Ongoing";
      }
      //let start = moment(data.Started);
      //let end = moment(data.Ended);
      //let diff = end.diff(start);

      return data.Duration.format("HH:mm:ss.SS");// moment.utc(diff).format("HH:mm:ss.SS");
      //var dur = moment.duration(ticksMS);
      //return dur.toString();//.humanize();
    }

    function pad(n, width) {
      var n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
    }
  </script>
  <script type="text/javascript">
    function SetupQueryBuilder() {
      var dataItemValues = dataItems.map(function (e, i) { return { value: e.Name, label: e.Name }; });
      $("#queryBuilder").queryBuilder({
        conditions: ['AND', 'OR', 'WHILE'],
        rules: {
          condition: 'AND',
          flags: {
            condition_readonly: true,
            no_add_rule: true,
            no_add_group: true
          },
          rules: [
            {
              id: 'dataItem',
              operator: 'equal',
              flags: {
                no_delete: true
              }
            },
            {
              condition: 'AND',
              flags: {
                condition_readonly: true,
                no_add_group: true,
                no_add_rule: true,
                no_delete: true
              },
              rules: [
                {
                  id: 'started',
                  operator: 'greater_or_equal',
                  flags: {
                    no_delete: true
                  }
                },
                {
                  id: 'ended',
                  operator: 'less_or_equal',
                  flags: {
                    no_delete: true
                  }
                }
              ]
            },
            {
              condition: 'AND',
              flags: {
                condition_readonly: true,
                no_delete: true
              },
              rules: [
                {
                  id: 'value',
                  operator: 'in'
                },
                {
                  condition: 'WHILE',
                  rules: [
                    {
                      id: 'dataItem'
                    },
                    {
                      condition: 'AND',
                      rules: [
                        {
                          id: 'value',
                          operator: 'in'
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        },
        filters: [
          {
            id: 'dataItem',
            label: 'DataItem',
            type: 'string',
            input: 'select',
            values: dataItemValues,
            operators: ['equal'],
            validation: {
              allow_empty_value: false,
              messages: {
                allow_empty_value: "Must select a DataItem."
              }
            }
          },
          {
            id: 'value',
            label: 'DataItem Value',
            type: 'string',
            operators: ['in', "equal", "greater_or_equal", "less_or_equal", "greater", "less"],
            default_value: "(.*)"
          },
          {
            id: 'started',
            label: 'From',
            type: 'date',
            default_value: new Date().toLocaleDateString(),
            operators: ['greater_or_equal']
          },
          {
            id: 'ended',
            label: 'To',
            type: 'date',
            default_value: new Date().toLocaleDateString(),
            operators: ['less_or_equal']
          }
        ]
      });
    }

    $(document).ready(function () {
      SetTableNote("Searching", "table-info");
      $("#btnQueryBuilder").on("click", function () {
        var qb = $("#queryBuilder")[0].queryBuilder;
        if (qb.validate()) {
          var rules = qb.getRules().rules;
          console.log("Rules: ", rules);
          var dataItemRule = rules[0];
          var startedRule = rules[1].rules[0];
          var endedRule = rules[1].rules[1];
          var additionalRules = rules[2].rules;

          var startDate = moment(startedRule.value).valueOf();
          var endDate = moment(endedRule.value).valueOf();

          var queryOptions = {
            dataItem: dataItemRule.value,
            start: startDate,
            end: endDate,
            rules: additionalRules,
            condition: "AND",
            callback: (function (data) {
              data = processRule(this.rules, this.condition, data, this.options);
              durations = CompleteDataset(data);
              UpdateTable(data);
            }).bind({
              rules: additionalRules,
              condition: "AND",
              options: {
                start: startDate,
                end: endDate
              }
            })
          }
          queryData(queryOptions);

        }
      });
    });

    function queryData(options) {//dataItem, start, end, rules, condition, callback, postProcess) {
      if (typeof postProcess == "undefined" || postProcess == null) {
        postProcess = true;
      }
      // During: dataitem/{name}/from/{start:datetime}/to/{end:datetime}/during/{ids:int[]}
      var from = moment.utc(options.start).format('YYYY-MM-DD');
      var to = moment.utc(options.end).format('YYYY-MM-DD');
      var url = "api/durations/dataitem/" + options.dataItem + "/from/" + from + "/to/" + to;
      var method = "GET";
      var body = null;
      var traditional = false;
      var contentType = "";
      console.log("[queryData] options.duringIds: ", options.duringIds);
      if (typeof (options.duringIds) !== "undefined") {
        url = "api/Durations/dataitem/GetDuring";
        contentType = "application/json";
        from = moment.utc(options.start).format();
        to = moment.utc(options.end).format();
        body = {
          name: options.dataItem,
          start: from,
          end: to,
          ids: options.duringIds
        }
        method = "POST";
      }
      var request = {
        url: url,
        method: method,
        data: JSON.stringify(body),
        contentType: contentType,
        success: (function (data) {
          //console.log("[QueryBuilder.queryData] Preprocessing length: ", data.length);
          if (this.postProcess) {
            data = processRule(this.rules, this.condition, data, { start: this.start, end: this.end });
          }
          this.callback(data);
        }).bind({ rules: options.rules, condition: options.condition, start: options.start, end: options.end, callback: options.callback, postProcess: options.postProcess }),
        async: false
      };

      $.ajax(request);
    }
    function processRule(rules, condition, dataSource, options, upperIds) {
      var predicateSources = {
        "AND": [],
        "OR": []
      };
      if (typeof rules !== "undefined" && rules != null && rules.length > 0) {
        //console.log("PROCESSING " + rules.length + " RULES");
        for (var len = rules.length, n = 0; n < len; n++) {
          var rule = rules[n];
          //console.log("Processing Rule[" + rule.field + "]: ", rule);
          if (typeof rule.condition !== "undefined" && typeof rule.rules !== "undefined") {
            if (rule.condition == "WHILE") {
              var whileSource = processRule(rule.rules, "WHILE", [], options, dataSource.map(function (e, i) { return e.Id; }));
              console.log("[QueryBuilder.processRule] While yielded " + whileSource.length + " results.");
              if (whileSource.length > 0) {
                console.log("[While] Before filter: ", dataSource.length);
                var filterFunction = function (dataObject, i) {
                  return (dataObject.Ended !== null &&
                    whileSource.filter(function (whileObject, j) {
                      return (whileObject.Ended !== null
                        && (
                          (
                            (dataObject.Started >= whileObject.Started && dataObject.Started <= whileObject.Ended) // Started During
                          )
                          ||
                          (
                            (dataObject.Ended >= whileObject.Started && dataObject.Ended <= whileObject.Ended) // Ended During
                          )
                        )
                      )
                    }).length > 0);
                }
                var tmpSource = dataSource.filter(filterFunction);
                console.log("[While] After filter: ", tmpSource.length);
                predicateSources["AND"].push(tmpSource);
              } else {
                predicateSources["AND"].push(new Array());
              }
            } else {
              dataSource = processRule(rule.rules, rule.condition, dataSource, options, dataSource.map(function (e, i) { return e.Id; }));
            }
          } else if (rule.id == "value") {
            console.log("\tApplying [" + condition + "] " + rule.field + " with: ", rule.value);
            if (rule.operator == "in") {
              var reg = new RegExp(rule.value, 'g');
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return reg.test(e.Value);
              }));
            } else if (rule.operator == "equal") {
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return e.Value == rule.value;
              }));
            } else if (rule.operator == "greater_or_equal") {
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return e.Value >= rule.value;
              }));
            } else if (rule.operator == "less_or_equal") {
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return e.Value <= rule.value;
              }));
            } else if (rule.operator == "greater") {
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return e.Value > rule.value;
              }));
            } else if (rule.operator == "less") {
              predicateSources[condition].push(dataSource.filter(function (e, i) {
                return e.Value < rule.value;
              }));
            }
          } else if (rule.id == "dataItem") {
            console.log("Querying DataItem DataSource: ", dataSource);
            var queryOptions = {
              dataItem: rule.value,
              start: options.start,
              end: options.end,
              rules: rule.rules,
              condition: condition,
              duringIds: upperIds,
              callback: function (data) {
                //console.log("\tGot " + data.length + " results from " + rule.field);
                //console.log("\t\tParent Rules Reference: ", rules);
                //nwSource = data;
                if (typeof data.filter == "undefined") {
                  console.log("Caught culprit", data);
                }
                dataSource = data;
                predicateSources["OR"].push(data);
              },
              postProcess: false
            }
            queryData(queryOptions);
            console.log("End DataItem");
          }
        }
        console.log("Predicate Sources for Condition[" + condition + "]: ", predicateSources);
        var nwSource = dataSource;// [];
        var addUnique = function (src, cond, nw) {
          if (typeof src.filter === "undefined") {
            console.warn("Source.filter is undefined",src);
          } else if (typeof nw.filter === "undefined") {
            console.warn("nw.filter is undefined");
          }
          if (cond == "AND") {
            if (nw.length == 0) {
              return [];
            } else {
              return src.filter(v => nw.filter(w => w.Id == v.Id).length > 0);
            }
          } else if (cond == "OR") {
            if (src.length == 0) {
              return nw;
            } else {
              return src.filter(v => nw.filter(w => w.Id == v.Id).length <= 0);
            }
          } else {
            console.error("Unknown condition type");
            return src;
          }
        }
        if (predicateSources["OR"].length > 0) {
          for (var olen = predicateSources["OR"].length, o = 0; o < olen; o++) {
            nwSource = addUnique(predicateSources["OR"][o], "OR", nwSource);
          }
        }
        if (predicateSources["AND"].length > 0 && condition !== "WHILE") {
          if (nwSource.length == 0) {
            nwSource = dataSource;
          }
          for (var alen = predicateSources["AND"].length, a = 0; a < alen; a++) {
            nwSource = addUnique(predicateSources["AND"][a], "AND", nwSource);
          }
        } else if (condition == "WHILE"){
          nwSource = dataSource;
        }
      }
      //console.log("Output for Condition[" + condition + "]: ", nwSource);
      return nwSource;
    }
  </script>
  <script type="text/javascript">
    function drawTimeline(){
      var startTime = moment.utc().startOf('day');
      var endTime = moment.utc().endOf('day');
      var fullSpan = moment.duration(endTime.diff(startTime)).asMilliseconds();// endTime - startTime;
  
      var canv = $("#timeline")[0];
      var ctx = canv.getContext('2d');
  
      var clrs = [
        "red",
        "blue",
        "green"
      ];
      var clrIndex = 0;
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, canv.width, canv.height);
      for(var len = durations.length,n=0;n<len;n++){
        var item = durations[n];
        if (item != null && item.Ended != null){
          ctx.fillStyle = clrs[clrIndex];
          var st = moment.utc(item.Started), et = moment.utc(item.Ended), ts = moment.duration(et.diff(st)).asMilliseconds();
          var pos = {
            x: ((endTime - st) / fullSpan) * canv.width,
            y: 0,
            w: (ts / fullSpan) * canv.width,
            h: canv.height
          };
      
          ctx.moveTo(pos.x, pos.y);
          ctx.fillRect(pos.x, pos.y, pos.w, pos.h);

          clrIndex++;
          if (clrIndex == clrs.length){
            clrIndex = 0;
          }
        }
      }
    };

  </script>
}
<canvas id="timeline">Canvas not supported</canvas>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="form-group">
      <label for="selAdapterConfig">Adapter Configuration:</label>
      <select id="selAdapterConfig" class="form-control"></select>
    </div>
    <div id="queryBuilder"></div>
    <button type="button" class="btn btn-block btn-primary" id="btnQueryBuilder">Run Query</button>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="table-responsive">
      <table id="tblDurations" class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Value</th>
            <th>Duration <small>(hh:mm:ss.ms)</small></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
<br />
